* {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  position: relative;
}
.text {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: green;
  box-sizing: border-box;
}
.text:hover {
  border-bottom: 10px solid black;
}
.text:hover .other_box {
  display: block;
  width: 100vw;
  left: 0;
  position: absolute;
}
.other_box {
  width: 100%;
  height: 400px;
  top: 100px;
  background-color: rgba(80, 80, 80, 0.5);
  display: none;
}
